@for (employee of employees; track $index) {
    <div class="others-header-list">
        <input type="checkbox" [checked]="employee.isChecked" />
        <div class="no-checkbox" (click)="edit(employee.id)">
            <span class="name">
                <!-- <img src="#" alt="emp" /> -->
                <icon type="user-icon" />
                {{ employee.firstName }} {{ getMiddleInitial(employee.middleName) }} {{ employee.lastName }}
            </span>
            <span>{{ employee.age }}</span>
            <span>{{ employee.sex }}</span>
            <span>{{ employee.startedAt | date: "MMM dd, YYYY" }}</span>
            <span>{{ employee.position }}</span>
            <span>₱ {{ employee.salary }}</span>
        </div>
    </div>
}