.others-header-list {
    @apply tw-grid tw-border tw-items-center tw-rounded-md tw-mb-2 tw-text-nowrap tw-cursor-pointer tw-text-center tw-shadow-md tw-shadow-gray-300;
    grid-template-columns: 2rem 1fr;
    height: 3rem;

    .no-checkbox {
        @apply tw-grid;
        grid-template-columns: 18rem 6rem 6rem repeat(3, 1fr);
    }

    &:hover {
        @apply tw-text-gray-400;
    }

    .name {
        @apply tw-text-start tw-pl-8 tw-flex tw-flex-row tw-gap-2 tw-items-center;

        img {
            @apply tw-border tw-border-green-500 tw-h-6 tw-w-6 tw-rounded-full;
        }
    }
}