.others-card {
    @apply tw-sticky;
    top: -8rem;
    background: white;
}

.others-header-card {
    @apply tw-grid tw-gap-8 tw-mt-4 tw-px-6;
    grid-template-columns: repeat(3, 1fr);

    .card {
        @apply tw-border-2 tw-border-green-600 tw-rounded-xl tw-flex tw-flex-col tw-items-center tw-justify-around tw-px-4 tw-py-2;
        min-height: 7rem;
        height: 100%;

        .title {
            @apply tw-text-xl tw-font-semibold;
        }

        select {
            @apply tw-border tw-w-full tw-cursor-pointer tw-text-3xl tw-outline-none tw-font-bold tw-text-center tw-rounded-md;

            option {
                @apply tw-text-lg;
            }
        }
        
        .data {
            @apply tw-text-3xl tw-font-bold;
        }
    }
}

.others-header-table {
    @apply tw-grid tw-items-center tw-font-semibold tw-text-center tw-mt-8 tw-pb-2 ;
    grid-template-columns: 2rem 18rem 6rem 6rem repeat(3, 1fr);

    .name {
        @apply tw-text-start tw-pl-14;
    }
}

.others-header-list {
    @apply tw-grid tw-border tw-items-center tw-rounded-md tw-mb-2 tw-text-nowrap tw-cursor-pointer tw-text-center tw-shadow-md tw-shadow-gray-300;
    grid-template-columns: 2rem 1fr;
    height: 3rem;

    .no-checkbox {
        @apply tw-grid;
        grid-template-columns: 18rem 6rem 6rem repeat(3, 1fr);
    }

    &:hover {
        @apply tw-text-gray-400;
    }

    .name {
        @apply tw-text-start tw-pl-8 tw-flex tw-flex-row tw-gap-2 tw-items-center;

        img {
            @apply tw-border tw-border-green-500 tw-h-6 tw-w-6 tw-rounded-full;
        }
    }
}