@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.btn-primary {
    padding: .5rem 1rem;
    border-color: rgb(6, 165, 6);
    color: rgb(6, 165, 6);
    @apply tw-bg-white tw-font-semibold tw-rounded-xl tw-border-2;

    &:hover {
        background: rgb(6, 165, 6);
        @apply tw-border-2 tw-text-white;
    }

    &-solid {
        padding: .5rem 1rem;
        background: rgb(6, 165, 6);
        border-color: rgb(6, 165, 6);
        @apply tw-font-semibold tw-text-white tw-rounded-xl tw-border-2;

        &:not(:disabled):hover {
            color: rgb(6, 165, 6);
            @apply tw-bg-white tw-border-2;
        }

        &:disabled {
            border-color: lightgreen;
            background: lightgreen;
            @apply tw-cursor-not-allowed;
        }
    }
}

.btn-secondary {
    padding: .5rem 1rem;
    @apply tw-bg-white tw-font-semibold tw-text-red-500 tw-rounded-xl tw-border-2 tw-border-red-500;

    &:hover {
        @apply tw-bg-red-500 tw-border-2 tw-text-white;
    }

    &-solid {
        padding: .5rem 1rem;
        @apply tw-bg-red-500 tw-font-semibold tw-text-white tw-rounded-xl tw-border-2 tw-border-red-500;

        &:not(:disabled):hover {
            @apply tw-bg-white tw-border-2 tw-text-red-500;
        }
        
        &:disabled {
            @apply tw-border-red-300 tw-bg-red-300 tw-cursor-not-allowed;
        }
    }
}

.scroll, body {
    &::-webkit-scrollbar {
        @apply tw-h-2 tw-w-2;
    }

    &::-webkit-scrollbar-track {
        display: hidden;
    }

    &::-webkit-scrollbar-thumb {
        @apply tw-bg-green-600 tw-rounded-xl;

        &:hover {
            @apply tw-bg-blue-950;
        }
    }
}