<div class="products">
    <card>
        <card-header px="2rem" pt="1rem" pb=".5rem" [sticky]="true">
            <div class="header">
                <div class="header-right" [ngClass]="{products: tabs[0].active}">
                    @if (tabs[0].active) {
                        <input-field type="select"
                            [options]="productsDateOptions" 
                            [control]="productDateOption" 
                        />
                        <input-field type="select"
                            [options]="productsOptions" 
                            [control]="productDateOption" 
                        />
                    }
                    <input-field type="text" placeholder="Search Name..." (onEnterSearch)="onEnterSearch()"
                        [control]="search" *ngIf="!tabs[0].active"
                    >
                        <icon class="icon" type="search" width="20" height="20" color="darkgray" hoverColor="gray" (click)="onEnterSearch()" />
                    </input-field>
                </div>
                
                <span>{{ tabs[0].active ? 'Products' : tabs[1].active ? 'Track' : 'Others' }}</span>
                
                <div class="btn" *ngIf="!tabs[1].active">
                    @if (isDelete) {
                        <button class="btn-secondary-solid" (click)="onDelete()">Delete</button>
                    } @else {
                        <button class="btn-primary-solid" (click)="add()">Add</button>
                    }
                </div>
            </div>

            <div class="tabs">
                @for (tab of tabs; track $index) {
                    <span [ngClass]="{active: tab.active}" (click)="onSelectTab(tab)">{{ tab.text }}</span>
                }
            </div>

            @if (tabs[0].active) {
                <div class="header-table">
                    <input class="check" type="checkbox" (change)="onCheck()" />
                    <span>Type</span>
                    <span>Price</span>
                    <span>Date</span>
                    <span>Sold Out</span>
                    <span>Sales</span>
                    <span>Note</span>
                </div>
            }
        </card-header>
        <card-body px="2rem" [height]="tabs[0].active ? '18rem' : tabs[1].active ? '20rem' : '25rem'">
            @if (tabs[0].active) {
                @for (product of products; track $index) {
                   <product-lists [product]="product" (onCheck)="onCheck($event)"></product-lists> 
                }
            }
            @if (tabs[1].active) {
                <tracks></tracks>
            }
            @if (tabs[2].active) {
                <employee-lists></employee-lists>
            }
        </card-body>
        <card-footer px="2rem" pb=".5rem" [sticky]="true" *ngIf="!tabs[2].active">
            <span class="total">{{ tabs[0].active ? 'Total Sales' : 'Total Income' }}: <strong>₱ 150,000.00</strong></span> 
        </card-footer>
    </card>
</div>