<div class="products">
    <card>
        <card-header px="2rem" pt="1rem" pb=".5rem" [sticky]="true">
            <div class="header">
                <div class="header-right" [ngClass]="{products: tabs[0].active}">
                    @if (tabs[0].active) {
                        <input-field type="select"
                            [options]="productsOptions" 
                            [control]="productOption"
                            (onSelect)="onSelectProduct($event)"
                        >
                            <span class="select">Products</span>
                        </input-field>
                        <input-field type="select"
                            [options]="productsDateOptions" 
                            [control]="productDateOption"
                            (onSelect)="onSelectDate($event)"
                        >
                            <span class="select date">Date</span>
                        </input-field>
                    }
                    <input-field type="text" [placeholder]="categoryOptions[0].active && tabs[2].active ? 'Search Item...' : 'Search Name...'" 
                        (onEnterSearch)="onEnterSearch()" 
                        (onInputSearch)="onInputSearch()"
                        [control]="search" *ngIf="!tabs[0].active"
                    >
                        <icon class="icon" type="search" width="20" height="20" color="darkgray" hoverColor="gray" (click)="onEnterSearch()" />
                    </input-field>
                </div>
                
                <span>{{ tabs[0].active ? 'Products' : tabs[1].active ? 'Track' : 'Others' }}</span>
                
                <div class="btn" *ngIf="!tabs[1].active">
                    @if (isDelete) {
                        <button class="btn-secondary-solid" (click)="onDelete()">Delete</button>
                    } @else {
                        <button class="btn-primary-solid" (click)="add()">Add</button>
                    }
                </div>
            </div>

            <div class="tabs">
                @for (tab of tabs; track $index) {
                    <span [ngClass]="{active: tab.active}" (click)="onSelectTab(tab)">{{ tab.text }}</span>
                }
            </div>

            @if (tabs[0].active) {
                <div class="header-table">
                    <input class="check" type="checkbox" (change)="onCheck()" />
                    <span class="name">Updated By</span>
                    <span>Items</span>
                    <span>Price</span>
                    <span>Sold</span>
                    <span>Sales</span>
                    <span>Updated On</span>
                    <span>Notes</span>
                </div>
            }
        </card-header>
        <card-body px="2rem" [height]="tabs[0].active ? '18rem' : '25rem'">
            @if (tabs[0].active) {
                @for (product of filterProducts; track $index) {
                   <product-lists [product]="product" (onCheck)="onCheck($event)"></product-lists> 
                }
            }
            @if (tabs[1].active) {
                <tracks></tracks>
            }
            @if (tabs[2].active) {
                <div class="others-card">
                    <div class="others-header-card">
                        <div class="card">
                            <span class="title">Category</span>
                            <input-field class="category" type="select"
                                optionFontSize="1.3rem" 
                                selectFontSize="2rem" 
                                selectFontWeight="bold"
                                [isTextCenter]="true"
                                [options]="categoryOptions" 
                                [control]="categoryOption" 
                                (onSelect)="onSelectCategory($event)"
                            />
                        </div>
                        <div class="card">
                            <span class="title">
                                {{ categoryOptions[0].active ? 'Product' : categoryOptions[1].active ? 'No of Employee' : 'No of Investors'}}
                            </span>
                            <input-field class="category" type="select" 
                                *ngIf="categoryOptions[0].active"
                                optionFontSize="1.3rem" 
                                selectFontSize="2rem" 
                                selectFontWeight="bold"
                                [isTextCenter]="true"
                                [options]="stockOptions"
                                [control]="stockOption"
                            />
                            <span class="data" *ngIf="categoryOptions[1].active">{{ employees.length }}</span>
                            <span class="data" *ngIf="categoryOptions[2].active">{{ investors.length }}</span>
                        </div>
                        <div class="card">
                            <span class="title">
                                {{ categoryOptions[0].active ? 'No of Stock' : categoryOptions[1].active ? 'Total Salary' : 'Investment Amount' }}
                            </span>
                            <span class="data">
                                {{ categoryOptions[0].active ? "10" : categoryOptions[1].active ? "₱ " + totalEmployeeSalary : "₱ " + investmentAmount }}
                            </span>
                        </div>
                    </div>
                
                    <div class="others-header-table" *ngIf="categoryOptions[1].active">
                        <input type="checkbox" />
                        <span class="name">Name of Employee</span>
                        <span>Age</span>
                        <span>Gender</span>
                        <span>StartedAt</span>
                        <span>Position</span>
                        <span>Salary</span>
                    </div>
                    <div class="stocks" *ngIf="categoryOptions[0].active">
                        <span class="name">Updated By</span>
                        <span>Items</span>
                        <span>Added</span>
                        <span>Recent</span>
                        <span>Current</span>
                        <span>Added Costs</span>
                        <span>Updated On</span>
                    </div>
                    <div class="investors" *ngIf="categoryOptions[2].active">
                        <input type="checkbox" />
                        <span class="name">Name of Investor</span>
                        <span>Amount</span>
                        <span>Profit</span>
                        <span>Updated On</span>
                        <span>Note</span>
                    </div>
                </div>
                @if (categoryOptions[0].active) {
                    <stock-lists [stocks]="filterStocks" />
                } @else if (categoryOptions[1].active) {
                    <employee-lists [employees]="filterEmployees" />
                } @else if (categoryOptions[2].active) {
                    <investors-lists [investors]="filterInvestors" />
                }
            }
        </card-body>
        <card-footer px="2rem" pb=".5rem" [sticky]="true" *ngIf="tabs[0].active">
            <span class="total">Total Sales: <strong>₱ 150,000.00</strong></span> 
        </card-footer>
    </card>
</div>