.products {
    @apply tw-h-full;

    .title {
        @apply tw-w-full tw-text-center tw-font-semibold tw-text-3xl;
    }

    .header {
        @apply tw-grid tw-mb-4 tw-mt-2 tw-h-12;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        &-right {
            @apply tw-flex tw-gap-2;

            select {
                @apply tw-border tw-rounded-md tw-pr-2 tw-cursor-pointer tw-w-full;
                outline: none;
                padding: .2rem .5rem .2rem .2rem;
            }

            input {
                @apply tw-w-full;
            }
        }

        span {
            @apply tw-text-center tw-text-3xl tw-font-semibold;
        }

        .btn {
            @apply tw-flex tw-justify-end;
        }

        &-table {
            @apply tw-grid tw-mt-4 tw-px-2 tw-text-nowrap;
            grid-template-columns: 2rem repeat(5, 1fr) 16rem;

            span {
                @apply tw-text-center tw-font-semibold;
            }
        }
    }

    .tabs {
        @apply tw-w-full tw-border-b-2 tw-border-gray-200 tw-flex tw-gap-1;

        span {
            cursor: pointer;
            @apply tw-bg-gray-200 tw-text-gray-500 tw-font-semibold tw-px-6 tw-py-2 tw-rounded-t-lg;

            &:not(.active):hover {
               background: rgb(109, 207, 109);
               color: white;
            }

            &.active {
                @apply tw-text-white;
                background: rgb(6, 165, 6);
            }
        }
    }

    .check {
        width: .85rem;
    }

    .total {
        @apply tw-flex tw-text-nowrap tw-text-2xl tw-justify-end tw-py-4 tw-font-semibold tw-pr-8;

        strong {
            @apply tw-pl-2;
        }
    }
}