<div class="activities">
    <card>
        <card-header px="2rem" pt="1rem" pb=".5rem" [sticky]="true">
            <div class="header">
                <div class="header-right">
                    <input-field type="select" [options]="dateOptions" [control]="searchByDate" (onSelect)="onSelect($event)" />
                    <input-field type="text" [control]="search" placeholder="Search Product..."
                    (onEnterSearch)="onEnterSearch()" (onInputSearch)="onInputSearch()">
                        <icon class="icon" type="search" width="20" height="20" color="darkgray" hoverColor="gray" (click)="onEnterSearch()" />
                    </input-field>
                </div>
                <span>Activities</span>
                <div class="btn">
                    @if (isDelete) {
                        <button class="btn-secondary-solid" (click)="onDelete()">Delete</button>
                    } @else {
                       <button class="btn-primary-solid" (click)="add()">Add</button> 
                    }
                </div>
            </div>
            <div class="table-header">
                <input class="check" type="checkbox" (change)="onChecked()" />
                <span class="name">Name</span>
                <span>Product</span>
                <span>Date</span>
                <span>Sold</span>
                <span>Sales</span>
                <span>Note</span>
            </div>
        </card-header>
        <card-body px="2rem">
            @for (activity of filterActivities; track $index) {
                <div class="table-lists">
                    <input class="check" type="checkbox" [checked]="activity.isChecked" (change)="onChecked(activity.id)" />
                    <div class="card-no-checkbox" (click)="edit(activity)">
                        <span class="name">
                            <!-- <img alt="user" /> -->
                            <icon type="user-icon" />
                            {{ activity.firstName }} {{ getMiddleInitial(activity.middleName) }} {{ activity.lastName }}
                        </span>
                        <span>{{ activity.product }}</span>
                        <span>{{ activity.date | date: "MMM dd, yyyy" }}</span>
                        <span>{{ activity.noOfCups }}</span>
                        <span>₱ {{ activity.sales }}</span>
                        <span class="note">{{ activity.note ? activity.note : "None" }}</span>
                    </div>
                </div>
            }
        </card-body>
        <card-footer px="2rem" pb=".5rem">
            <span class="total">Total Sales:<strong>₱ 159,000.00</strong></span>
        </card-footer>
    </card>
</div>