.table-list {
    grid-template-columns: 2rem auto;
    margin-bottom: .6rem;
    align-items: center;
    height: 3rem;
    min-width: 63.5rem;
    @apply tw-grid tw-border tw-text-nowrap tw-rounded-md tw-cursor-pointer tw-text-center tw-shadow-md tw-shadow-gray-300 tw-px-2;

    .no-checkbox {
        @apply tw-text-center tw-grid;
        grid-template-columns: 12rem 10rem repeat(3, 1fr) 9rem 13rem;
        align-items: center;
        
        &:hover {
            @apply tw-text-gray-400;
        }

        .name {
            @apply tw-text-start tw-flex tw-gap-2 tw-items-center tw-pl-2;

            img {
                @apply tw-border tw-border-green-500 tw-h-6 tw-w-6 tw-rounded-full;
            }
        }

        .note {
            @apply tw-text-wrap;
            font-size: .95rem;
        }
    }

    .check {
        width: .85rem;
    }
}