<div class="table-list">
    <input class="check" type="checkbox" [checked]="product.isChecked" (change)="onChange(product.id)" />
    <div class="no-checkbox" (click)="edit(product.id)">
        <span class="name">
            <!-- <img alt="user" /> -->
            <icon type="user-icon" />
            <!-- {{ product.firstName }} {{ getMiddleInitial(product.middleName) }} {{ product.lastName }} -->
            {{product.name}}
        </span>
        <span>{{ product.item }}</span>
        <span>{{ product.price ? "₱ " + product.price : "None" }}</span>
        <span>{{ product.soldOut }}</span>
        <span>₱ {{ product.sales }}</span>
        <span>{{ product.date | date: "MMM dd, YYYY" }}</span>
        <span class="note">{{ product.notes ? product.notes : "None" }}</span>
    </div>
</div>
