.profile {
    @apply tw-h-full;

    .header {
        @apply tw-grid tw-items-center;
        grid-template-columns: 1fr 1fr 1fr;

        span {
            @apply tw-text-center tw-font-semibold tw-text-3xl;
        }

        .btn {
            @apply tw-flex tw-justify-end;

            .btn-secondary-solid {
                @apply tw-mr-2;
            }
        }
    }

    .user-card {
        @apply tw-grid tw-mb-10 tw-mt-12 tw-items-center tw-px-4;
        grid-template-columns: auto 1fr;
        gap: 3rem;

        .profile-pic {
            @apply tw-flex tw-justify-center tw-relative tw-flex-col tw-items-center;

            .user-profile {
                @apply tw-w-36 tw-h-36 tw-rounded-full tw-border-2;
                border-color: rgb(6, 165, 6);
            }

            .upload-profile {
                @apply tw-absolute tw-h-36 tw-w-36 tw-rounded-full tw-cursor-pointer tw-top-0;
                background: linear-gradient(to top, rgb(65, 65, 65), transparent);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: .1s ease-in;
                margin-top: 2px;

                span {
                    @apply tw-font-semibold tw-text-white;
                    margin-top: 1rem;
                    font-size: 1rem;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        .complete-name {
            @apply tw-grid tw-gap-4;
            grid-template-columns: repeat(3, 1fr);
        }

        .mid {
            @apply tw-grid tw-gap-4 tw-mt-6;
            grid-template-columns: 1fr 1fr;
        }
    }

    .email {
        @apply tw-mt-6;
    }
}