<div class="profile">
    <card>
        <card-header px="2rem" pt="1rem">
            <div class="header">
                <div><button class="btn-secondary">Leave Organization</button></div>
               <span>Profile</span>
               <div class="btn">
                    <button class="btn-primary-solid" (click)="onEdit()" *ngIf="isEdit">Edit</button>
                    <button class="btn-secondary-solid" (click)="onSave('cancel')" *ngIf="!isEdit">Cancel</button>
                    <button class="btn-primary-solid" [disabled]="form.invalid" (click)="onSave()" *ngIf="!isEdit">Save</button>
               </div>
            </div>
        </card-header>
        <card-body px="2rem" height="100%">
            <div class="user-card">
                <div class="profile-pic">
                    <!-- <img class="user-profile" src="#" alt="user-profile" /> -->
                    <icon type="user-icon" width="150" height="150" cursor="default" />
                    <div class="upload-profile">
                        <icon type="picture" color="white" width="50" height="50" />
                        <span>Upload Profile</span> 
                    </div>
                    <input-field class="email" type="text" placeholder="email@gmail.com" [isTextCenter]="true" [control]="email" />
                </div>
                <div class="user-info">
                    <div class="complete-name">
                        <input-field type="text" label="First Name" [control]="firstName" />
                        <input-field type="text" label="(optional) Middle Name" [control]="middleName" />
                        <input-field type="text" label="Last Name" [control]="lastName" />
                    </div>
                    <div class="mid">
                        <input-field type="number" label="Age" [control]="age" />
                        <input-field type="select" cursor="default" [options]="genderOptions" label="Gender" [control]="gender" />
                        <input-field type="text" label="(optional) Logo" [control]="logo" />
                        <input-field type="text" label="Designation" [control]="designation" />
                    </div>
                </div>
            </div>
            <input-field type="textarea" label="(optional) Note" cols="5" rows="5" [control]="note" />
        </card-body>
    </card>
</div>