<div class="landing">
    <div class="nav">
        <span class="logo">KJM Tech</span>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Guide</li>
            <li class="signup">
                <button class="btn-primary" (click)="register()">Sign Up</button>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="card">
            <span>Welcome to KJM Tech Business Tracker <strong>ENJOY</strong></span>
            <button class="btn-primary-solid" (click)="login()">Continue</button>
        </div>
    </div>
    <div class="footer"></div>
</div>