<div class="field" [ngStyle]="{width: width, 'margin-top': mt}">
    <label [for]="label" *ngIf="label">{{ label + ":" }}</label>
    @if (type === "text" || type === "date" || type === "number") {
        <input class="input" 
            [ngClass]="{error: (control.dirty || control.touched) && control.errors, center: isTextCenter}" 
            [id]="label"
            [type]="type"
            [formControl]="control"
            [autocomplete]="autoComplete"
            [placeholder]="placeholder"
            [ngStyle]="{'padding-left': pl}"
            (keydown.enter)="onEnter()"
            (input)="onInput()"
        />
        <ng-content selector=".icon"></ng-content>
    } @else if (type === "select") {
        <select class="input select"
            [ngClass]="{error: (control.dirty || control.touched) && control.errors, center: isTextCenter}" 
            [ngStyle]="{'font-size': selectFontSize, 'font-weight': selectFontWeight}"
            [id]="label"
            [formControl]="control"
            (change)="onChange($event)"
            (dblclick)="onDblClick()"
        >
            @for (option of options; track $index) {
                <option [value]="option.text ? option.text : option"
                    [ngStyle]="{'font-size': optionFontSize}"
                >
                    {{ option.text ? option.text : option }}
                </option>
            }
        </select>
    } @else if (type === "textarea") {
        <textarea class="input"
            [ngClass]="{error: (control.dirty || control.touched) && control.errors}" 
            [id]="label"
            [formControl]="control"
            [cols]="cols"
            [rows]="rows"
        >
        </textarea>
    }
    
    @for (validation of validations; track $index) {
        @if ((control.dirty || control.touched) && control.hasError(validation.error)) {
            <span class="error-message">{{ validation.message }}</span>
        }
    }
</div>
