<div class="activity">
    <card>
        <card-header px="2rem" pt="1rem">
            <div class="header">
                <div>
                    <icon type="arrow" (click)="back()" color="rgb(6, 165, 6)" hoverColor="rgb(6, 135, 6)"/>
                </div>
                <span>{{activityId ? 'Edit' : 'Add' }} Activity</span>
                <div class="btn">
                    <button class="btn-primary-solid" [disabled]="form.invalid" (click)="onSave()">
                        {{activityId ? 'Save' : 'Add' }}
                    </button>
                </div>
            </div>
        </card-header>
        <card-body px="2rem" height="100%">
            <input-field width="40rem" mt="3rem" type="text" label="Name" [control]="name" [validations]="validations['name']"  />
            <div class="body-mid">
                <input-field type="select" [options]="products" label="Product" [control]="product" [validations]="validations['product']" />
                <input-field type="date" label="Date" [control]="date" [validations]="validations['date']" />
            </div>
            <div class="body-mid">
                <input-field type="text" label="No of Sold" [control]="sold" [validations]="validations['sold']" />
                <input-field type="text" label="Sales" [control]="sales" [validations]="validations['sales']" pl="1.5rem">
                    <span class="icon">₱</span>
                </input-field>
            </div>
            <input-field mt="2.5rem" type="textarea" label="(optional) Note" cols="3" rows="3" [control]="note" />
        </card-body>
    </card>
</div>
